.app-bar{
    background-color: $light-blue;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
    color: $white;
    .logo-cont, .site-title-cont, .menu-toggle-cont {
        display: table-cell;
        vertical-align: middle;
    }
    .menu-toggle-cont:hover {
        cursor: pointer;
    }
}

.logo-cont {
    width: 17%;
    padding: 1%;
    img {
        width: 100%;
        height: auto;
    }
    #blue-logo {
        display: none;
    }
}

.site-title-cont {
    width: 63%;
}

.site-title {
    font-weight: bold;
    font-size: 4.5vw;
    margin: auto;
    width: 83%;
}

.menu-toggle-cont {
    width: 20%;
    .menu-toggle {
        display: block;
        font-size: 9vw;
        width: 100%;
        text-align: center;
    }
}

.site-header-menu {
    background-color: $blue;
    display: none;
    z-index: 1;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    position: fixed;
    margin-top: 19.5vw;
    width: 100%;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        li {
            border-top: 1px solid $light-blue;
            border-bottom: 1px solid $dark-blue;
            margin: 1px 0;
            width: 100%;
            font-size: 6.5vw;
        }
        li:last-child{
            border-bottom: none;
        }
    }
    ul li a {
        color: $white;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 4vw 0;
    }
}

.header-img-cont {
    padding-top: 19.5vw;
    width: 100%;
    img{
        width: 100%;
    }
}

@media (min-width: 600px) {
    .app-bar {
        background-color: $white;
        position: relative;
        color: $light-blue;

        .logo-cont {
            width: 11%;
            #blue-logo{
                display: inline;
            }
            #white-logo {
                display: none;
            }
        }

        .site-title-cont {
            width: 76%;
            .site-title {
                font-size: 3.4vw;
                width: 96%;
            }
        }

        .menu-toggle-cont {
            font-size: 7vw;
            width: 13%;
        }
    }

    .site-header-menu {
        position: absolute;
        background-color: $white;
        margin-top: 0;

        ul li a {
            color: $light-blue;
        }
    }

    .header-img-cont {
        padding-top: 0;
    }
}

@media (min-width: 800px) {
    .app-bar {
        .menu-toggle-cont {
            display: none;
        }
    }
    .site-header-menu {
        display: inline-block !important;
        position: absolute;
        margin: 10px 5px 0 auto;
        width: initial;
        top: 0;
        right: 0;
        box-shadow: none;
        z-index: 2;
        background-color: transparent;

        ul {
            float: left;
            li {
                display: inline-block;
                float: left;
                width: initial;
                border: none;
                border-right: 1px solid $light-blue;
                font-size: 1em;
                a {
                    width: initial;
                    padding: 0.3em;
                }
            }
            li:last-child {
                border-right: none;
            }
        }  
    }
}
