.app-bar{
    background-color: $light-blue;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
    color: $white;
    .logo-cont, .site-title-cont, .menu-toggle-cont {
        display: table-cell;
        vertical-align: middle;
    }
    .menu-toggle-cont:hover {
        cursor: pointer;
    }
}

.logo-cont {
    width: 17%;
    padding: 1%;
    img {
        width: 100%;
        height: auto;
    }
    #blue-logo {
        display: none;
    }
}

.site-title-cont {
    width: 63%;
}

.site-title {
    font-weight: bold;
    font-size: 4.5vw;
    margin: auto;
    width: 83%;
}

.menu-toggle-cont {
    width: 20%;
    .menu-toggle {
        display: block;
        font-size: 9vw;
        width: 100%;
        text-align: center;
    }
}

.site-header-menu {
    background-color: $blue;
    display: none;
    z-index: 1;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    position: fixed;
    margin-top: 19.5vw;
    width: 100%;
    text-align: center;
    ul {
        margin: 0;
        padding: 0;
        li {
            border-top: 1px solid $light-blue;
            border-bottom: 1px solid $dark-blue;
            margin: 1px 0;
            width: 100%;
            font-size: 6.5vw;
        }
        li:last-child{
            border-bottom: none;
        }
    }
    ul li a {
        color: $white;
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 4vw 0;
    }
}

.header-img-cont {
    padding-top: 19.5vw;
    width: 100%;
    img{
        width: 100%;
    }
}
