.app-bar {
    background-color: $white;
    position: relative;
    color: $light-blue;

    .logo-cont {
        width: 11%;
        #blue-logo{
            display: inline;
        }
        #white-logo {
            display: none;
        }
    }

    .site-title-cont {
        width: 76%;
        .site-title {
            font-size: 3.4vw;
            width: 96%;
        }
    }

    .menu-toggle-cont {
        font-size: 7vw;
        width: 13%;
    }
}

.site-header-menu {
    position: absolute;
    background-color: $white;
    margin-top: 0;

    ul li a {
        color: $light-blue;
    }
}

.header-img-cont {
    padding-top: 0;
}

